body {

    background-color: #dddddd;
    margin: 0;
    overflow: hidden;

}

.topBar {
    position: absolute;
    top: 5vh;
    right: 50vh;
    left: 50vh;
    width: 40vh;
    height: 10vh;
    /* border: 3px solid #73AD21; */
}

/* CSS */
/* Curtesy of Joe Bocock from https://getcssscan.com/css-buttons-examples */
.topButton {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.topButton:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.topButton:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .topButton {
        padding: 13px 50px 13px;
    }
}